html,
body {
  font-family: "Lato", sans-serif;
}

h1 {
  font-size: 3em;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
}

.name {
  font-size: 4em;
  font-family: "Rubic", sans-serif;
  font-weight: 300;
}

footer {
  background-color: #343a40;
  color: #fff;
  display: flex;
  align-items: flex-start;
}

footer a {
  color: #fff;
}

.header-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.wave {
  background: linear-gradient(to left, #3f3f3f, #535353);
  min-height: 350px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wave-svg {
  width: 100%;
  transform: translateY(-80px);
}

.wave-svg-secondary {
  width: 100%;
}

.wave-svg-color {
  margin-top: 30px;
}

.custom-card {
  transform: translateY(-150px);
  text-align: center;
  width: 500px;
  max-width: 90%;
  margin: 0 auto;
  background-color: #ebebeb;
}

.card {
  border-radius: 0;
  box-shadow: 0 8px 17px 2px rgba(152, 152, 152, 0.14),
    0 3px 14px 2px rgba(152, 152, 152, 0.12),
    0 5px 5px -3px rgba(152, 152, 152, 0.2);
}

.ml-container {
  padding: 60px 0;
  background-color: #fff;
}

.ml-item {
  padding: 20px 0;
}

.container-color,
.container-dark {
  padding: 100px 0;
  color: #fff;
}

.container-color {
  background: linear-gradient(to left, #3f3f3f, #535353);
}

.container-dark {
  background-color: #343a40;
}

.card-title {
  margin-top: 50px;
  color: #000000;
  text-align: center;
}

.card-text {
  line-height: 2;
}

.card-icon {
  color: #5e0000;
  font-size: 50px;
}

.subtitle {
  font-weight: 200;
}
.boy {
  display: block;
  height: 200px;
  margin-top: 50px;
}

.start-project-card {
  min-height: 200px;
  width: 100%;
}

.card-flex {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.skill-container {
  padding: 30px;
}

.fa-align {
  margin: auto;
  color: #fff;
}
